@model APIProjetoUpd8.Models.Cliente
<div>
<h1 class="display-4">Cadastrar Cliente</h1>

</div>

<form asp-controller="Cliente" asp-action="Cadastro" method="post">
    <section class="wrap">
        <div class="form-group">
            <label for="cpf">Cpf</label>
            <input type="text" asp-for="Cpf" class="form-group col-md-2" placeholder="Digite o cpf do cliente" />
            @Html.ValidationMessageFor(x => x.Cpf)
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do cliente" />
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div class="form-group">
            <label for="DataNascimento">Data de Nascimento</label>
            <input type="date" asp-for="DataNascimento" class="form" placeholder="Selecione a data de nascimento" />
            @Html.ValidationMessageFor(x => x.DataNascimento)
        </div>
        <div class="form-group">
            <label for="Sexo">Sexo</label>
            <br />
            <input type="radio" asp-for="Sexo" value="F" name="Sexo" placeholder="Feminino" /> Feminino
            <input type="radio" asp-for="Sexo" value="M" name="Sexo" placeholder="Masculino" /> Masculino
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div class="form-group">
            <label for="nome">Endereço</label>
            <input type="text" asp-for="Endereco" class="form-control" placeholder="Digite o endereço do cliente" />
            @Html.ValidationMessageFor(x => x.Endereco)
        </div>
        <div class="form-group">
            <label for="Estado">Estado</label>
            <input type="text" asp-for="Estado" class="form-control" placeholder="Digite o nome do contato" />
            @Html.ValidationMessageFor(x => x.Estado)
        </div>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" asp-for="Cidade" class="form-control" placeholder="Digite o nome do contato" />
            @Html.ValidationMessageFor(x => x.Cidade)
        </div>
    </section>
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
</form>